.place__title{
    margin: 0;
    width: 460px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media screen and (max-width: 1024px) {
    .place__title{
        width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__title{
        width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 580px) {
    .place__title{
        width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}