.photo-grid{
    padding-top: 92px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    gap: 16px;
    max-width: 1184px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .photo-grid{
        gap: 14px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .photo-grid{
        gap: 16px;
        padding-top: 88px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);    }
}

@media screen and (max-width: 320px) {
    .photo-grid{
        gap: 12px;
        padding-top: 64px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
}