.intro__list{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    max-width: 690px;
    margin: 0;
    list-style-type: none;
}

@media screen and (max-width: 768px) {
    .intro__list{
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro__list{
        max-width: 288px;
    }
}