.lead__title{
    max-width: 720px;
    width: 100%;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center; 
    margin: 0 auto;
}

@media screen and (max-width: 760px) {
    .lead__title{
        font-size: 40px;
        line-height: 44px;
    }
}

@media screen and (max-width: 320px){
    .lead__title{
        width: 288px;
    }
}