.footer__copyright{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

@media screen and (max-width: 720px) {
    .footer__copyright{
        padding-top: 48px;
    }
}

@media screen and (max-width: 320px) {
    .footer__copyright{
        line-height: 14px;
    }
}