.intro__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    max-width: 690px;
    margin: 0;
    padding-bottom: 33px;
}

@media screen and (max-width: 768px) {
    .intro__text{
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro__text{
        padding-bottom: 34px;
        max-width: 288px;
    }
}