.cover{
    max-width: 1184px;
    text-align: center;
    margin: 0 auto;
    margin-top: 90px;
    position: relative;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .cover{
        margin-top: 66px;
    }
}