.footer__navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 18px;
}

@media screen and (max-width: 720px) {
    .footer__navigation{
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }
}