.cover__title{
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    z-index: 1;
}

@media screen and (max-width: 760px) {
    .cover__title{
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 435px) {
    .cover__title{
        max-width: 268px;
    }
}