.cover__title{
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin-top: 245px;
    color: #FFFFFF;
    text-decoration: none;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .cover__title{
        margin-top: 192px;

    }
}

@media screen and (max-width: 768px) {
    .cover__title{
        margin-top: 115px;
    }
}

@media screen and (max-width: 760px) {
    .cover__title{
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 435px) {
    .cover__title{
        margin-top: 33px;
        max-width: 288px;
    }
}