.place{
    display: flex;
    flex-direction: column;
    max-width: 984px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 6.25%;
}

.place:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (max-width: 1024px) {
    .place{
        max-width: 928px;
        margin-bottom: 7.81%;
    }
}

@media screen and (max-width: 768px) {
    .place{
        max-width: 720px;
        margin-bottom: 9.5%;
    }
}

@media screen and (max-width: 580px) {
    .place{
        max-width: 320px;
        margin-bottom: 15.625%;
    }
}