.footer{
    max-width: 1184px;
    height: 18px;
    padding: 92px 4.687% 24px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer{
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer{
        max-width: 720px;
        padding: 88px 3.125% 24px;
    }
}

@media screen and (max-width: 720px) {
    .footer{
        max-width: 186px;
        height: 100%;
        padding: 64px 5% 24px;
        flex-direction: column; 
    }
}