.place__url-heading{
    margin: 0;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA; 
}

@media screen and (max-width: 1024px) {
    .place__column-right{
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__column-right{
        max-width: 352px;
        padding-top: 46px;
    }
}

@media screen and (max-width: 580px) {
    .place__column-right{
        max-width: 288px;
    }
}